.PokCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #F2F3F4;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.73);
    margin: 15px;
    width: 250px;
}

.PokCard:hover {
    cursor: pointer;
}

.PokCard__title {
    border-top: 2.5px solid #F2F3F4;
    background-color:white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.PokCard__image {
    margin-bottom: 60px;
    max-height: 250px;
    max-width: 250px;
}